body{
    margin: 0px;
    padding: 0px;
}
.nav-bar{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    padding-bottom: 8px;
    padding-top: 8px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}
.nav-main{
    display: flex;
    column-gap: 50px;
    align-items: center;
}
.menu{
    width: 20px;
    height: 10px;
    margin-left: -80px;
}
.menu:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.8s;
    
}
.logo{
    width: 100px;
    height: 25px;
}
.logo:hover{
    cursor: pointer;
}

.search-div{
    display: flex;
    align-items: center;
}
.search-bar{
    background:none;
    outline: none;
    border-radius: 20px;
    border-width: 0.5px;
    width: 350px;
    height: 25px;
}
.search-button{
    margin-left: -31px;
    border-width: 1px;
    outline: none;
    border: none;
    height: 25px;
    width: 29px;
    border-radius: 20px;
    background-color: white;
}
.search-button:hover{
    cursor: pointer;
}
.search-pic{
    width: 20px;
}
.voice-search{
    height: 25px;
    width: 25px;
    border-radius: 10px;
    margin-left: 10px;
    border:none;
    outline: none;
    background-color: white;
}
.voice-search:hover{
    cursor: pointer;
}
.voice-pic{
    width: 18px;
}

.nav-options{
    display: flex;
    column-gap: 25px;
    align-items: center;
}
.np-buttons{
    width:30px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: white;
}
.np-buttons:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.8s;
}
.upload,.notification,.user_profile,.more{
    width: 25px;
    height: 25px;
}
